In [1]:
import pandas as pd

In [2]:
## Відкриваємо файл

df = pd.read_csv(r'C:\Users\PC\Desktop\google trends\online_retail_II.csv', encoding = 'ISO-8859-1')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [3]:
## Перевіряємо типи даних, та видаляємо дуплікати

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  object
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [4]:
df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  object
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
## Перевіряю пусті значення та видаляю їх

df.isnull().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [6]:
df = df.dropna(subset = ['Description', 'Customer ID'])

In [7]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406830 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      406830 non-null  object
 1   StockCode    406830 non-null  object
 2   Description  406830 non-null  object
 3   Quantity     406830 non-null  int64
 4   InvoiceDate  406830 non-null  object
 5   Price        406830 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      406830 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

In [9]:
### Видаляю рядки які не підходять
## Видаляю рядки якщо ціна дорівнює нулю (0.00) та менше

df[df['Price'] <= 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,12/5/10 14:02,0.0,12647.0,Germany
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,12/16/10 14:36,0.0,16560.0,United Kingdom
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,12/21/10 13:45,0.0,14911.0,EIRE
47068,540372,22090,PAPER BUNTING RETROSPOT,24,1/6/11 16:41,0.0,13081.0,United Kingdom
47070,540372,22553,PLASTERS IN TIN SKULLS,24,1/6/11 16:41,0.0,13081.0,United Kingdom
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,1/13/11 15:10,0.0,15107.0,United Kingdom
86789,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2/10/11 13:08,0.0,17560.0,United Kingdom
130188,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,3/23/11 10:25,0.0,13239.0,United Kingdom
139453,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,3/30/11 12:45,0.0,13113.0,United Kingdom
145208,548871,22162,HEART GARLAND RUSTIC PADDED,2,4/4/11 14:42,0.0,14410.0,United Kingdom
157042,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,4/14/11 18:57,0.0,12457.0,Switzerland
187613,553000,47566,PARTY BUNTING,4,5/12/11 15:21,0.0,17667.0,United Kingdom
198383,554037,22619,SET OF 6 SOLDIER SKITTLES,80,5/20/11 14:13,0.0,12415.0,Australia
279323,561284,22167,OVAL WALL MIRROR DIAMANTE,1,7/26/11 12:24,0.0,16818.0,United Kingdom
282912,561669,22960,JAM MAKING SET WITH JARS,11,7/28/11 17:09,0.0,12507.0,Spain
285657,561916,M,Manual,1,8/1/11 11:44,0.0,15581.0,United Kingdom
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,8/11/11 11:42,0.0,14911.0,EIRE
314745,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,8/26/11 14:19,0.0,14646.0,Netherlands
314746,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,8/26/11 14:19,0.0,14646.0,Netherlands
314747,564651,22955,36 FOIL STAR CAKE CASES,144,8/26/11 14:19,0.0,14646.0,Netherlands
314748,564651,21786,POLKADOT RAIN HAT,144,8/26/11 14:19,0.0,14646.0,Netherlands
358670,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,9/25/11 12:22,0.0,16133.0,United Kingdom
361825,568384,M,Manual,1,9/27/11 9:46,0.0,12748.0,United Kingdom
379913,569716,22778,GLASS CLOCHE SMALL,2,10/6/11 8:17,0.0,15804.0,United Kingdom
395529,571035,M,Manual,1,10/13/11 12:50,0.0,12446.0,RSA
420404,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,10/26/11 14:36,0.0,18059.0,United Kingdom
436428,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,11/3/11 11:26,0.0,12415.0,Australia
436597,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,11/3/11 11:47,0.0,14110.0,United Kingdom
436961,574252,M,Manual,1,11/3/11 13:24,0.0,12437.0,France
439361,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,11/4/11 11:55,0.0,12431.0,Australia
446125,574879,22625,RED KITCHEN SCALES,2,11/7/11 13:22,0.0,13014.0,United Kingdom
446793,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,11/7/11 16:34,0.0,13985.0,United Kingdom
446794,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,11/7/11 16:34,0.0,13985.0,United Kingdom
454463,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,11/10/11 11:49,0.0,13081.0,United Kingdom
454464,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,11/10/11 11:49,0.0,13081.0,United Kingdom
479079,577129,22464,HANGING METAL HEART LANTERN,4,11/17/11 19:52,0.0,15602.0,United Kingdom
479553,577168,M,Manual,1,11/18/11 10:42,0.0,12603.0,Germany
480649,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,11/18/11 13:23,0.0,12444.0,Norway
485985,577696,M,Manual,1,11/21/11 11:57,0.0,16406.0,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,11/25/11 15:57,0.0,13256.0,United Kingdom

In [10]:
## Вилдаляю рядки з від'ємними значеннями, так як даний аналіз передбачає сегментацію лише не повернутих замовлень

df[df['Quantity'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
141,C536379,D,Discount,-1,12/1/10 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/10 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/10 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/10 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/10 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/11 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/11 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/11 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/11 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/11 11:58,1.25,17315.0,United Kingdom

In [11]:
df = df[(df['Quantity'] > 0) & (df['Price'] > 0)]

In [12]:
## Перевіряю чи всі рядки з ID закінчуються на '.0', якщо так то заокруглюю

is_int = (df['Customer ID'] % 1 == 0)
count_int= is_int.sum()
count_int

np.int64(397885)

In [13]:
len(df)

397885

In [14]:
df['Customer ID'] = df['Customer ID'].astype('int64')

In [15]:
## Змінюю тип даних для колонки з датами

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='mixed')

In [16]:
df.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680,France

In [17]:
## Видаляю 'неліквідні' рядки

df[df['StockCode'].str.contains('POST')]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
45,536370,POST,POSTAGE,3,2010-12-01 08:45:00,18.0,12583,France
386,536403,POST,POSTAGE,1,2010-12-01 11:27:00,15.0,12791,Netherlands
1123,536527,POST,POSTAGE,1,2010-12-01 13:04:00,18.0,12662,Germany
5095,536840,POST,POSTAGE,1,2010-12-02 18:27:00,18.0,12738,Germany
5258,536852,POST,POSTAGE,1,2010-12-03 09:51:00,18.0,12686,France
...,...,...,...,...,...,...,...,...
541216,581494,POST,POSTAGE,2,2011-12-09 10:13:00,18.0,12518,Germany
541730,581570,POST,POSTAGE,1,2011-12-09 11:59:00,18.0,12662,Germany
541767,581574,POST,POSTAGE,2,2011-12-09 12:09:00,18.0,12526,Germany
541768,581578,POST,POSTAGE,3,2011-12-09 12:16:00,18.0,12713,Germany
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.0,12680,France

In [18]:
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID             int64
Country                object
dtype: object

In [19]:
df['Description'] = df['Description'].str.lower()

In [20]:
df.head(40)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536368,22960,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom
10,536368,22913,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
11,536368,22912,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
12,536368,22914,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
13,536367,84879,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
14,536367,22745,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
15,536367,22748,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
16,536367,22749,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom
17,536367,22310,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom
18,536367,84969,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom
19,536367,22623,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
20,536367,22622,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom
21,536367,21754,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom
22,536367,21755,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom
23,536367,21777,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom
24,536367,48187,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom
25,536369,21756,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom
26,536370,22728,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France
27,536370,22727,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France
28,536370,22726,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France
29,536370,21724,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France
30,536370,21883,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France
31,536370,10002,inflatable political globe,48,2010-12-01 08:45:00,0.85,12583,France
32,536370,21791,vintage heads and tails card game,24,2010-12-01 08:45:00,1.25,12583,France
33,536370,21035,set/2 red retrospot tea towels,18,2010-12-01 08:45:00,2.95,12583,France
34,536370,22326,round snack boxes set of4 woodland,24,2010-12-01 08:45:00,2.95,12583,France
35,536370,22629,spaceboy lunch box,24,2010-12-01 08:45:00,1.95,12583,France
36,536370,22659,lunch box i love london,24,2010-12-01 08:45:00,1.95,12583,France
37,536370,22631,circus parade lunch box,24,2010-12-01 08:45:00,1.95,12583,France
38,536370,22661,charlotte bag dolly girl design,20,2010-12-01 08:45:00,0.85,12583,France
39,536370,21731,red toadstool led night light,24,2010-12-01 08:45:00,1.65,12583,France

In [48]:
df['Price'].describe()

count    397885.000000
mean          3.116525
std          22.097861
min           0.001000
25%           1.250000
50%           1.950000
75%           3.750000
max        8142.750000
Name: Price, dtype: float64

In [49]:
df[df['Price'].isnull()]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

In [51]:
df[df['Price'] <= 0.01]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
157195,550193,PADS,pads to match all cushions,1,2011-04-15 09:27:00,0.001,13952,United Kingdom
279045,561226,PADS,pads to match all cushions,1,2011-07-26 10:13:00,0.001,15618,United Kingdom
359871,568200,PADS,pads to match all cushions,1,2011-09-25 14:58:00,0.001,16198,United Kingdom
361741,568375,BANK CHARGES,bank charges,1,2011-09-26 17:01:00,0.001,13405,United Kingdom

In [52]:
df = df[df['Price'] >0.01]

In [53]:
df[df['Price'] <= 0.01]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

In [54]:
df['Price'] = df['Price'].round(2)

In [62]:
## Зберігаю файл для роботи у sql

df.to_csv('D:\online_retail_SQL.csv', index = False)